<%- include("partials/header.ejs") -%>
<link rel="stylesheet" href="/stylesheets/landing.css">

    
   
    
    <div id="landing-header">
 		<h1>Welcome to my Photo gallery</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View "notmy" Photos</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		
       
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</body>
</html>